{% extends "network/layout.html" %}

{% block body %}
    <form action="{% url 'index' %}" method="POST">
        {% csrf_token %}
        <textarea id="content" rows="3" cols="40" placeholder="What's happening?" name="content" autofocus></textarea>
        <input type="submit" value="post" class="btn btn-primary" id="post">
    </form>
    <br>
    <div class="posts">
    {% for post in page %}
    <div id="post{{post.id}}" class="post">
      <a href="#" class="edit" id="edit{{post.id}}">Edit</a>
        <span class="user"><a href="{% url 'profile' post.user%}">{{post.user}}</a> · </span>
        <span class="time">{{post.time}}</span><br>
        <span class="content content{{post.id}}">{{post.content}}</span>
        <div class="edit{{post.id}}" style="display:none;"><textarea class="edit-form">{{post.content}}</textarea><button class=" btn btn-primary">Save</button></div>
        <br>
        <i class="far fa-heart like{{post.id}}"></i> <span class="likes{{post.id}}">{{post.like}}</span>
    </div><br>
    {% endfor %}
    </div>
    <!-- Paginator -->
    {% if count > 10 %}
    <nav aria-label="Paginator" id="paginator">
        <ul class="pagination">
        {% if page.has_previous %}
          <li class="page-item">
            <a class="page-link" href="{% url 'index' %}?page={{page.previous_page_number}}" tabindex="-1" >Previous</a>
          </li>
        {% endif %}
          {% for i in n %}
          <li class="page-item"><a class="page-link" href="{% url 'index' %}?page={{i}}">{{i}}</a></li>
          {% endfor %}
          {% if page.has_next %}
          <li class="page-item">
            <a class="page-link" href="{% url 'index' %}?page={{page.next_page_number}}">Next</a>
          </li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}
      <script type="text/javascript">
        var csrf_token = "{{ csrf_token }}";
        document.querySelectorAll('.like').forEach(element => {
        element.addEventListener('click', () => {
            let count = parseInt()
            count++
            element.innerText = count
            fetch('/like' + element.id, {  
            method: 'PUT',
            body: JSON.stringify({
              like: count
            }),
            headers: {
                 'X-CSRFToken': csrf_token
            },
        })
      .then(response => response.json())
      .then(data => console.log(data))
      })
    })
    document.querySelectorAll('.edit').forEach(button => {
        button.onclick = function() {
            document.querySelector(`.${this.id}`).style.display = 'block';
            document.querySelector(`.content${this.id.slice(4,6)}`).style.display = 'none'
        }
    })
      </script>
{% endblock %}